spring:
  application:
    name: comment-service
  config:
    import: "configserver:"
  cloud:
    loadbalancer:
      retry:
        enabled: true
    config:
      discovery:
        enabled: true
        service-id: config-server
      fail-fast: true

server:
  port: 0

eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:8761/eureka/
  instance:
    prefer-ip-address: true