spring:
  cloud:
    gateway:
      discovery:
        locator:
          enabled: true
      routes:
        - id: main_service_route
          uri: lb://main-service
          predicates:
            - Path=/admin/**,/users/**,/categories/**,/compilations/**,/events/**

        - id: stats_service_route
          uri: lb://stats-server
          predicates:
            - Path=/hit,/stats

server:
  port: 8080