server:
  port: 0

spring:
  jpa:
    show-sql: true
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        format_sql: true
  sql:
    init:
      mode: always
  datasource:
    url: jdbc:postgresql://localhost:5432/ewm_main_db
    username: ewm_user
    password: ewm_password

stats-server:
  url: http://localhost:9090

logging:
  level:
    root: INFO
    ru.practicum.explorewithme.main: DEBUG