spring:
  cloud:
    gateway:
      discovery:
        locator:
          enabled: false
      routes:
        - id: main_service_route
          uri: lb://main-service
          predicates:
            - Path=/admin/**,/users/**,/categories/**,/compilations/**,/events/**

        - id: stats_service_route
          uri: lb://stats-server
          predicates:
            - Path=/hit/**,/stats/**

server:
  port: 8080

management:
  endpoints:
    web:
      exposure:
        include: "gateway,health,info"
  endpoint:
    gateway:
      enabled: true